<div class="card">
  <div class="card-header">
    <h3>Thanking You</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><h4>Thank you for your valuable feedback. Thank you for Connecting With Us.</h4></p>
    <%= link_to 'Home', root_path, class:'btn btn-primary' %>
  </div>
</div>