<br><br>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName4">Name</label>
      <input type="name" class="form-control" id="inputName4" placeholder="Name">
    </div>
    <div  class="form-group col-md-6">
    <label for="inputEmail4">Email</label>
    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
  </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Address">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" class="form-control" id="inputState">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">FeedBack</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <%= link_to 'Send', contact_us_feedback_path ,class:'btn btn-primary' %> 
</div>
</form>


<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5><class="card-title">Contact_Details</h5>
    <h4><p class="card-text">This Is Our Contact Details Please Contact Us Through This </p></h4>
    <h5>Landline_no:022-0664423</h5>
    <h5>Phone_no:912345678</h5>
    <h5>Email_id:airfly@gmail.com</h5>
  </div>
</div>
   

